@page "/misClientes/{idEntrenador:int}"
@inject HttpClient Http;

<a href='@string.Format("https://localhost:7184/CrearCliente/{0}", @idEntrenador)'> Crear nuevo</a>
 
<RadzenDataList WrapItems="true" AllowPaging="false" Data="@misClientes" TItem="Cliente" class="d-flex flex-row align-items-center">
     <Template Context="cliente">
         <RadzenCard Style="width:300px;">
             <div class="d-flex flex-row align-items-center">
                 <div>
                     <a href='@string.Format("https://localhost:7184/cliente/{0}", @cliente.IdCliente)'  class="mb-0">@(cliente.Nombre + " " )</a>
                 </div>
             </div>
         </RadzenCard>
     </Template>
</RadzenDataList>



@code{

    [Parameter]
    public int idEntrenador { get; set; } = 0;
    public List<Cliente> misClientes = new List<Cliente>();

     protected override async Task OnInitializedAsync()
    {
        misClientes = await Http.GetFromJsonAsync<List<Cliente>>("https://localhost:7184/api/Clientes/entrenador/1");
        misClientes = misClientes.ToList();
    

    }

}